<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    colors="true"
    cacheResult="false"
    testdox="true"
    failOnWarning="true"
    bootstrap="tests/bootstrap.php"
>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="public/test-coverage-report/" />
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Integration tests">
            <directory>tests/Integration/</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory>tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
